<!-- <pre>{{accounts|json}}</pre> -->
<table class="table table-dark ">
    <thead>
        <tr>
            <th>account_name</th>
            <th>available_balance </th>
            <th>account_number</th>
            <th>id</th>
            <th>sno</th>
            <th>EmployeeId</th>
            <th>EmployeeName</th>
            <th>BillacilityStatus</th>
            <th>Location</th>
            <th>Band</th>
            <th>Yrsofexp</th>
            <th>RollOverdate</th>
            <th>RollOverQuarter</th>
            <th>PRP</th>
            <th>Codility</th>
            <th>ReadyforDeploymentskill</th>
            <th>Profile</th>
            <th>PropsedCustomer1</th>
            <th>PropsedCustomer2</th>
            <th>PropsedCustomer3</th>
            <th>PropsedCustomer4</th>
            <th>PropsedCustomer5</th>
            <th>ReasonforRejection</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let accounts of accounts">
            <td>{{accounts.account_name}}</td>
            <td>{{accounts.available_balance}}</td>
            <td>{{accounts.account_number}}</td>
            <td>{{accounts.id}}</td>
            <td>{{accounts.sno}}</td>
            <td>{{accounts.EmployeeId}}</td>
            <td>{{accounts.EmployeeName}}</td>
            <td>{{accounts.BillacilityStatus}}</td>
            <td>{{accounts.Location}}</td>
            <td>{{accounts.Band}}</td>
            <td>{{accounts.Yrsofexp}}</td>
            <td>{{accounts.RollOverdate}}</td>
            <td>{{accounts.RollOverQuarter}}</td>
            <td>{{accounts.Prp}}</td>
            <td>{{accounts.Codility}}</td> 
            <td>{{accounts.ReadyforDeploymentskill}}</td>
            <td>{{accounts.Profile}}</td>
            <td>{{accounts.PropsedCustomer1}}</td>
             <td>{{accounts.PropsedCustomer2}}</td>
            <td>{{accounts.PropsedCustomer3}}</td>
            <td>{{accounts.PropsedCustomer4}}</td>
            <td>{{accounts.PropsedCustomer5}}</td>
            <td>{{accounts.ReasonforRejection}}</td>
   
            

        </tr>
    </tbody>

</table>
