<div class="parent">
        <div class="form">
        <form action="" class="">
            <h1>Login</h1>
            <label for="">Email :</label>
            <input type="text" placeholder="Email address or phone number">
            <br>
            <label for="">Password :</label>
            <input type="text" placeholder="password">
            <br>
            <button class="btn btn-success" routerLink="/dashboard"><strong>log in</strong></button>
            <br>
            <p class="p2">Forgotten password</p>
            <button class="btn btn-danger"><strong>New Account</strong></button>

        </form>
    </div>
</div>