<div class="parent">
        <h1>Login</h1>
        <form action="">
            <label for="">Email :</label>
            <input type="text" placeholder="Email address or phone number">
            <br>
            <label for="">Password :</label>
            <input type="text" placeholder="password">
            <br>
            <br>
            <button class="b1"><strong>log in</strong></button>
            <br>
            
            <p class="p2">Forgotten password</p>
            <hr>
            <button class="b2"><strong>New Account</strong></button>

        </form>
    
</div>