<div class="parent">
    <div class="rectangle">
            <h1>Rectangle</h1>
            <input type="number" [(ngModel)]="number1" placeholder="0">
            <br>
            <br>
            <input type="number" [(ngModel)]="number2" placeholder="0">
            <br>
            <br>
            <button (click)="area()">Area</button>
            <button (click)="perimeter()">perimeter</button>

           
            <br>
            <br>
            <h2>Perimeter is: {{result}} </h2>
    </div>
</div>
