<div class="parent">
    <div class="left">
        <h4 routerLink="home">home</h4>
        <h4 routerLink="data-binding">data binding</h4>
        <h4 routerLink="calculator">calculator</h4>
        <h4 routerLink="Rectangle">Rectangle</h4>
        <h4 routerLink="Directives">Directives</h4>
        <h4 routerLink="registration">registration</h4>
        <h4 routerLink="wish">wish</h4>
        <h4 routerLink="cart">cart</h4>
        <h4 routerLink="grade">grade</h4>
        <h4 routerLink="cars">cars</h4>
        <h4 routerLink="phones">phones</h4>
        <h4 routerLink="users">users</h4>
        <h4 routerLink="vehicles">vehicles</h4>
        <h4 routerLink="products">products</h4>
        <h4 routerLink="gallery">gallery</h4>
        <h4 routerLink="">accounts</h4>
        <h4 routerLink="create-user">create-user</h4>
        <button class="btn btn-success" routerLink="/login">logout</button>
       
        

    </div>
    <div class="right">
        <router-outlet></router-outlet>
    </div>
</div>
